
<head th:fragment="header">

<title>Digital Permissions Passenger Admin</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="/DataTables-1.10.16/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="/DataTables-1.10.16/js/dataTables.bootstrap.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/DataTables-1.10.16/css/dataTables.bootstrap.css" />
<link rel="stylesheet" href="/css/main.css" />
<link rel="shortcut icon" href="/govuk_template/assets/images/favicon.ico" type="image/x-icon"/>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        .form-block label {
            display: inline-block;
            width: 70px;
            text-align: right;
            margin-right: 10px;
        }
    </style>
</head>
<!--  this is header -->