<!--  this is navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="nav" th:if="${authenticated}">
    <a class="navbar-brand" href="#">Passenger Administration</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a class="nav-link" href="/uploadParticipants">Upload participants</a></li>
            <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a class="nav-link" href="/participants">Participants</a></li>
            <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a class="nav-link" href="/loginattempts">Login attempts</a></li>
            <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a class="nav-link" href="/countries">Countries</a></li>
            <li class="nav-item" sec:authorize="hasRole('WICU') or hasRole('ADMIN')"><a class="nav-link" href="/wicu">WICU</a></li>
            <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Audit
                    <span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/audit?new=true">Audit Search</a>
                    <a class="dropdown-item" href="/audit-export">Audit Export</a>
                </div>
            </li>
            <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Rules Admin
                    <span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/debug">Debug</a>
                </div>
            </li>
        </ul>
        <form style="position: absolute; display:inline; top: 8px; right: 8px;" th:action="@{/logout}" method="post">
            <input class="btn btn-default" type="submit" value="Logout"/>
        </form>
    </div>
</nav>