<!DOCTYPE HTML>
<html>
<head th:replace="layout/header::header"/>
<body>

<nav th:replace="layout/nav::nav"/>

<div class="container">

    <div class="starter-template">
        <div class="starter-template">
            <h3 th:if="${crsRecordsSuccessfullyCreated >  0  || crsRecordsSuccessfullyUpdated >  0  || crsRecordsInError >  0  }">Participant(Crs Record) Upload summary</h3>

            <table id="downloadTable" class="table table-striped table-bordered">
                <tbody>
                <tr th:styleappend="${fileUploadError == null} ? 'display:none':''">
                    <th>File upload error</th>
                    <td th:text="${fileUploadError}"/>
                </tr>
                <tr th:styleappend="${crsRecordsSuccessfullyCreated == null || crsRecordsSuccessfullyCreated == 0} ? 'display:none':''">
                    <th>Number of CRS records successfully created</th>
                    <td th:text="${crsRecordsSuccessfullyCreated}"/>
                </tr>
                <tr th:styleappend="${crsRecordsSuccessfullyUpdated == null || crsRecordsSuccessfullyUpdated == 0} ? 'display:none':''">
                    <th>Number of CRS records successfully updated</th>
                    <td th:text="${crsRecordsSuccessfullyUpdated}"/>
                </tr>
                <tr th:styleappend="${crsRecordsInError == null || crsRecordsInError == 0} ? 'display:none':''">
                    <th>Number of CRS records in error</th>
                    <td th:text="${crsRecordsInError}"/>
                </tr>
                </tbody>
            </table>
        <h3>Participant(Crs Record) Details</h3>
        <th:block th:each="crs : ${crsRecords}">
            <div th:replace="crsrecords/crsrecord :: crsrecord (crs=${crs})"/>
         </th:block>
         <h3 th:if="${errors != null  and not errors.isEmpty()}" id="errors">Upload errors</h3>
         <th:block th:each="error : ${errors}">
             <div th:replace="crsrecords/crsrecord :: uploadError (error=${error})"/>
         </th:block>
        <hr>
     </div>

 </div>
 <!-- /.container -->

</body>
</html>