<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{govuk_template}">
<head>
    <title>Check your visa details</title>
</head>
<body>
<div layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form th:action="@{/visa/details}" method="post">
                <h1 class="govuk-heading-l">
                    Check your visa details are correct
                    <span class="govuk-caption-xl govuk-visually-hidden"></span>
                </h1>
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-heading-m">Your details</caption>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row" th:styleappend="${visa.isName() == false} ? 'display:none':''">
                        <th class="govuk-table__header" scope="row">Full name</th>
                        <td class="govuk-table__cell "><span th:text="${visa.name()}" th:remove="tag" /></td>
                    </tr>
                    <tr class="govuk-table__row" th:styleappend="${visa.isPassportNumber() == false} ? 'display:none':''">
                        <th class="govuk-table__header" scope="row">Passport number</th>
                        <td class="govuk-table__cell "><span th:text="${visa.passportNumber()}" th:remove="tag" /></td>
                    </tr>
                    <tr class="govuk-table__row" th:styleappend="${visa.isDateOfBirth() == false} ? 'display:none':''">
                        <th class="govuk-table__header" scope="row">Date of birth</th>
                        <td class="govuk-table__cell "><span th:text="${visa.dateOfBirth()}" th:remove="tag" /></td>
                    </tr>
                    <tr class="govuk-table__row" th:styleappend="${visa.isNationality() == false} ? 'display:none':''">
                        <th class="govuk-table__header" scope="row">Nationality</th>
                        <td class="govuk-table__cell "><span th:text="${visa.nationality()}" th:remove="tag" /></td>
                    </tr>
                    </tbody>
                </table>
                <hr class="govuk-section-break govuk-section-break--l">
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-heading-m">Your visa details</caption>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row" th:styleappend="${visa.isValidFrom() == false} ? 'display:none':''">
                        <th class="govuk-table__header" scope="row">Visa validity</th>
                        <td class="govuk-table__cell ">
                            <span th:text="${visa.validFrom()}" th:remove="tag" />
                            <span th:if="${visa.isValidUntil()}" th:text=" to " th:remove="tag" />
                            <span th:if="${visa.isValidUntil()}" th:text="${visa.validUntil()}" th:remove="tag" />
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Visa type</th>
                        <td class="govuk-table__cell "><span th:text="${visa.visaType()}" th:remove="tag" /></td>
                    </tr>
                    <tr class="govuk-table__row" th:styleappend="${visa.isCosNumber() == false} ? 'display:none':''">
                        <th class="govuk-table__header" scope="row">COS (certificate of sponsorship) number</th>
                        <td class="govuk-table__cell "><span th:text="${visa.cosNumber()}" th:remove="tag" /></td>
                    </tr>
                    <tr class="govuk-table__row" th:styleappend="${visa.isSponsorName() == false} ? 'display:none':''">
                        <th class="govuk-table__header" scope="row">Sponsor name</th>
                        <td class="govuk-table__cell "><span th:text="${visa.sponsorName()}" th:remove="tag" /></td>
                    </tr>
                    </tbody>
                </table>
                <hr class="govuk-section-break govuk-section-break--l">
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-heading-m">What you can and can’t do with this visa</caption>
                    <tbody class="govuk-table__body">
                <tr class="govuk-table__row" th:styleappend="${visa.hasPositiveEndorsements() == false} ? 'display:none':''">
                        <th class="govuk-table__header" scope="row" style="width: 25%;" valign="top">You can:</th>
                        <td class="govuk-table__cell">
                            <ul class="govuk-list govuk-list--bullet" th:each="value : ${visa.allValuesFor('POSITIVE')}">
                                <li th:text="${value.content}"></li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="govuk-table__row" th:styleappend="${visa.hasNegativeEndorsements() == false} ? 'display:none':''">
                        <th class="govuk-table__header" scope="row" style="width: 25%;" valign="top">You can't:</th>
                        <td class="govuk-table__cell">
                            <ul class="govuk-list govuk-list--bullet" th:each="value : ${visa.allValuesFor('NEGATIVE')}">
                                <li th:text="${value.content}"></li>
                            </ul>
                        </td>
                    </tr>
                <tr class="govuk-table__row" th:styleappend="${visa.hasNote() == false} ? 'display:none':''">
                        <th class="govuk-table__header" scope="row" style="width: 25%;" valign="top">Notes:</th>
                        <td class="govuk-table__cell">
                            <ul class="govuk-list govuk-list--bullet" th:each="value : ${visa.allValuesFor('NOTE')}">
                                <li th:text="${value.content}"></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                                Are these details correct?
                            </h1>
                        </legend>
                        <div class="govuk-radios" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="check-details-1" name="checkDetails" value="yes" aria-controls="conditional-check-details-1" aria-expanded="false" type="radio">
                                <label class="govuk-label govuk-radios__label" for="check-details-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__conditional" id="conditional-check-details-1" aria-hidden="true">
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                            Do you want to share your visa details with a third party for example, your sponsor?
                                        </legend>
                                        <div class="govuk-radios">
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="do-you-want-to-share-1" name="shareDetails" value="yes" type="radio">
                                                <label class="govuk-label govuk-radios__label" for="do-you-want-to-share-1">
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="do-you-want-to-share-2" name="shareDetails" value="no" type="radio">
                                                <label class="govuk-label govuk-radios__label" for="do-you-want-to-share-2">
                                                    Not at this time
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <hr class="govuk-section-break govuk-section-break--m">
                                <button type="submit" class="govuk-button">
                                    Continue
                                </button>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="check-details-2" name="checkDetails" value="no" aria-controls="conditional-check-details-2" aria-expanded="false" type="radio">
                                <label class="govuk-label govuk-radios__label" for="check-details-2">
                                    No
                                </label>
                            </div>
                            <div class="govuk-radios__conditional" id="conditional-check-details-2" aria-hidden="true">
                                <p class="govuk-body"><a href="https://www.gov.uk/contact-ukvi-inside-outside-uk">Tell UK Visas and Immigration about any changes</a>, for example if you get a new passport, or if any of your visa details are incorrect.</p>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>