<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{govuk_template}">
<head>
    <title>Privacy policy</title>
</head>
<body>
<div layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="app-prose-scope">
                <h1 class='govuk-heading-xl'>Privacy Policy</h1>
                <p>The Home Office and Border Force comply with the General Data Protection Regulations (GDPR) and the Data
                    Protection Act 2018.</p>
                <p>We have a data protection officer who makes sure your information is used, shared and saved correctly.
                    You can email them at <a href="mailto:DPO@homeoffice.gsi.gov.uk">DPO@homeoffice.gsi.gov.uk</a> if you
                    have any questions.</p>
                <h2 class='govuk-heading-m'>Using your information</h2>
                <p>The Home Office collects, processes and shares personal information so we can carry out our legal duties,
                    including immigration control at, or before, the border. We’ll only process your information so we can
                    carry out our legal duties.
                <p>The information you provided in this application will be used to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>make a decision on your application</li>
                    <li>help prevent and detect crime</li>
                    <li>help improve the service and train Home Office staff</li>
                    <li>tell you about changes to this service - you do not need to give your consent to receive emails from
                        us
                    </li>
                </ul>
                <h2 class='govuk-heading-medium'>Sharing your information</h2>
                <p>The Home Office may share the information you provided with other organisations, for example:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>fraud prevention agencies</li>
                    <li>UK or overseas government departments or law enforcement agencies</li>
                    <li>people who can verify information in your application</li>
                </ul>
                <br>
                <p>The information you provide may be shared with other people to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>help process your application</li>
                    <li>check the information you provide is correct</li>
                    <li>help prevent and detect crime, for example fraud or money laundering</li>
                </ul>
                <br>
                <p>You can read more about <a
                        href="https://www.gov.uk/government/organisations/home-office/about/personal-information-charter"
                        target="_blank">how the Home Office may use your personal information</a>, including what we use it
                    for, lawful reasons for using it and who we may share it with.</p>
                <p>You can read more about <a
                        href="https://www.gov.uk/government/publications/frauds-tricks-and-scams/working-with-fraud-prevention-organisations"
                        target="_blank">how information held by fraud prevention agencies may be used.</a></p>
                <h2 class="govuk-heading-m">Storing your information</h2>
                <p>We’ll only keep the information you gave us for as long as is needed to provide this service or to fulfil
                    our functions and our records management policy. You can read more about <a
                            href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/710811/border-immigration-citizenship-privacy-information-notice.pdf"
                            target="_blank">how long Border Force might keep your information.</a></p>
                <h2 class='govuk-heading-m'>Your rights over your information</h2>
                <p>You have rights over your information. This means you:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>can ask to <a
                            href="https://www.gov.uk/government/organisations/home-office/about/personal-information-charter"
                            target="_blank">see what personal information the Home Office holds about you</a></li>
                    <li>might be able to object to and restrict the use of your personal information, or to ask to have your
                        data corrected or deleted
                    </li>
                    <li>can <a href="https://ico.org.uk/" target="_blank">complain to the Information Commissioner’s
                        Office</a> about the way the Home Office is handling your personal information
                    </li>
                    <li>can email the Home Office data protection officer at <a href="mailto:DPO@homeoffice.gsi.gov.uk">DPO@homeoffice.gsi.gov.uk</a>
                        if you have any questions or concerns about the collection, use or disclosure of your personal
                        information
                    </li>
                </ul>
                <br>
                <button onclick="window.close();" class="govuk-button" role="button" id="closeButton">Close</button>

            </div>
        </div>
    </div>

</div>
</body>
</html>