<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{govuk_template}">
<head>
    <title>Technical Issue Received</title>
</head>
<body>
<div layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">
                Thank you for submitting this issue to us.  We may contact you via email for further information.
            </p>
        </div>
    </div>
</div>
</body>
</html>