<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{govuk_template}">
<head>
    <title>Travel Details</title>
</head>
<body>
<a th:href="@{/visa/details}" class="govuk-back-link">Back</a>
<div layout:fragment="content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form th:action="@{/visa/arrive}" method="post">
                <span class="govuk-caption-l">Section 2 of 3</span>
                <h1 class="govuk-heading-l">
                    Travel to the UK
                    <span class="govuk-caption-xl govuk-visually-hidden"></span>
                </h1>

                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-heading-m">You have 30 days to enter the UK after your visa starts</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Enter From</th>
                        <th class="govuk-table__header" scope="col">Until</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell "> <span th:text="${fromTravelDisplayDate}" th:remove="tag" /></td>
                        <td class="govuk-table__cell "> <span th:text="${toTravelDisplayDate}" th:remove="tag" /></td>
                    </tr>
                    </tbody>
                </table>
                <p class="govuk-inset-text">
                    If you've booked to travel outside these dates, you should try to rearrange. If you cannot change your plans, you must <a href="https://www.visa4uk.fco.gov.uk/home/welcome">apply for a replacement 30-day visa</a>.
                </p>
                <h2 class="govuk-heading-m">
                    Travelling with your visa
                </h2>
                <p>You must use the passport you told us about in your visa application the first time you travel to the UK.</p>
                <p>UK border officers will see your visa details when they scan your passport.</p>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <p><span class="govuk-!-font-weight-bold">Next:</span> Collecting your biometric residence permit (<abbr title="biometric residence permit">BRP</abbr>).</p>

                <button type="submit" class="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
