<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{govuk_template}">
<head>
    <title>Check your phone</title>
</head>
<body>
<div layout:fragment="content">
    <a th:href="@{/visa/travel}" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="travel" method="post">
                <span class="govuk-caption-l">Section 3 of 3</span>
                <h1 class="govuk-heading-l">
                    When you arrive in the UK
                    <span class="govuk-caption-xl govuk-visually-hidden"></span>
                </h1>
                <h2 class="govuk-heading-m">
                    Collect your biometric residence permit
                </h2>
                <p class="govuk-body">You must collect your biometric residence permit (<abbr title="biometric residence permit">BRP</abbr>) card within 10 days of arriving in the UK. You'll need your passport.</p>
                <p class="govuk-body">You're collecting your <abbr title="biometric residence permit">BRP</abbr> from:  </p>
                <p class="govuk-body">
                    <span th:text="${address}" th:remove="tag" />
                </p>
                <p class="govuk-body">Your visa details will be printed on your <abbr title="biometric residence permit">BRP</abbr>.</p>

                <h2 class="govuk-heading-m" th:styleappend="${policeRegistrationRequired == true} ? '':'display:none'">
                    Registering with the police
                </h2>
                <h2 class="govuk-heading-m" th:styleappend="${policeRegistrationRequired == false} ? '':'display:none'">
                    Police registration not required
                </h2>
                <p class="govuk-body"><span th:text="${policeRegistrationMessage}" th:remove="tag" /></p>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <p><span class="govuk-!-font-weight-bold">Next:</span> Print summary and finish.</p>

                <button type="submit" class="govuk-button">
                    Continue
                </button>

            </form>
        </div>
    </div>
</div>
</body>
</html>