* {
    font-size: 0.85rem;
}

nav {
    margin-bottom: 0.75rem;
}

h1 {
    color: #0000FF;
}

h2 {
    color: #FF0000;
}

.error{
    color: #cc0000;
}

.success{
    color:  #006400;
}
table{
    margin: 25px;
}

th, td{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

table.updated {
    color:  #006400;
}

table.unchanged{
    color: #000000;
}
tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content > div > table {
    margin: 0;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 2% auto; /* 2% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 80%;
    overflow-y: auto;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}