<!DOCTYPE HTML>
<html>
<head th:replace="layout/header::header"/>
<body>

<nav th:replace="layout/nav::nav"/>

<div class="container">

    <div class="starter-template">
        <h3>Participant Details</h3>
        <a href="/participants" aria-label="back">&lt;&lt; Back</a>
        <th:block th:each="p : ${participants}">
            <div th:replace="participants/participant :: participant (p=${p})"/>
        </th:block>
        <h3 th:if="${errors != null  and not errors.isEmpty()}" id="errors">Upload errors</h3>
        <th:block th:each="error : ${errors}">
            <div th:replace="participants/participant :: uploadError (error=${error})"/>
        </th:block>
    </div>

</div>
<!-- /.container -->



</body>
</html>